.swiper-v {
  width: 100dvw;
  height: 100dvh;
  background: #000;
}

.swiper-slide-v {
  width: 100%;
  height: 75dvh;
}

.swiper {
  width: 100dvw;
  height: 75dvh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  height: 100%;

  border: 3px solid black;
}
