.overlay {
  position: fixed;
  inset: 0;
  z-index: 9;
  pointer-events: none;
  transition: var(--transition);
  opacity: 0;
}

.visible {
  opacity: 1;
}

.reachOut {
  background-color: #00000000;
  backdrop-filter: blur(50px);
  opacity: 0;
}

.info {
  background-color: #000000;
}