.overlay {
  position: fixed;
  inset: 0;
  z-index: 9;
  backdrop-filter: blur(43.6px) !important;
  -webkit-backdrop-filter: blur(43.6px);
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  transition: opacity 0.4s ease;
  opacity: 0;
}

.visible {
  opacity: 1;
}