.gate {
  display: flex;
  align-items: center;
  gap: 14px;
  opacity: 0;

  position: absolute;
  left: calc(100% + 14px);

  @media (max-width: 768px) {
    position: fixed;
    left: var(--margin);
    top: calc(var(--margin) + 5 * (100dvh - 2 * var(--margin)) / 8);
  }
}

.request {
  color: white;
  opacity: 0.24;
  text-decoration: none;
  white-space: nowrap;
  transition: var(--transition);

  &:hover {
    opacity: 1;
  }
}

.form {
  display: flex;
  align-items: center;
  gap: 14px;
}

.input {
  text-align: left;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  outline: none;
  color: rgba(255, 255, 255, 0.24);
  width: 134px;
  padding: 0;
  caret-color: rgba(255, 255, 255, 0.24);
  letter-spacing: 4px;

  &.error {
    border-bottom-color: #ff6b6b;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }
}

.enter {
  background: none;
  border: none;
  color: white;
  opacity: 0.24;
  cursor: pointer;
  padding: 0;
  transition: var(--transition);

  &:hover {
    opacity: 1;
  }
}
