.link {
  grid-column: 1;
  grid-row: 3;
  align-self: end;
  justify-self: start;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;

  p {
    white-space: nowrap;
    opacity: 1;
    transition: var(--transition);
  }

  span {
    color: white;
    opacity: 1;
    transition: var(--transition);
  }

  &:hover p {
    opacity: 0.24;
  }

  &:hover span {
    opacity: 0.24;
  }
}
