.link {
  grid-column: 1;
  grid-row: 3;
  align-self: end;
  justify-self: start;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;

  p {
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.24);
  }

  span {
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &:hover span {
    opacity: 1;
  }
}
