:root {
  --background: #000000;
  --foreground: #FFFFFF;

  // ─── Animation ─────────────────────────────────────────────────────────────
  --transition: all 1s ease;


  // ─── Grid ──────────────────────────────────────────────────────────────────
  --cols: 12;
  --gutter: 10px;
  --margin: 10px;
}

@media (max-width: 768px) {
  :root {
    --cols: 4;
    --gutter: 10px;
    --margin: 10px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  height: 100%;
  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-neue-haas);
  font-size: 20px;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-biz-ud-mincho);
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 0.24;
  }
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

// ─── Grid utility ────────────────────────────────────────────────────────────

.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  column-gap: var(--gutter);
  padding: var(--margin);
  width: 100%;
}

.hover {
  &:hover {
    
  }
}
