.body {
  p {
    margin: 0 0 0.6rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: white;
    opacity: 0.9;
    text-decoration: none;
    transition: var(--transition);

    &:hover {
      opacity: 1;
    }
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }
}
