/* InfiniteScrollVertical.module.scss */

.scrollContainer {
  overflow: hidden;
  height: 100vh;
  position: relative;
  user-select: none;
  cursor: grab;

  /* Obliga al móvil a ceder el control del touch al script */
  touch-action: none;
}

.scrollContainer.isGrabbing {
  cursor: grabbing;
}

.scrollTrack {
  display: flex;
  flex-direction: column;
  gap: 10px;
  will-change: transform;
}

.projectRow {
  height: 50dvh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-shrink: 0;
}